.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn{
  padding: 0.6em;
  background-color: white;
  color: #082f49;
  margin: 1em;
  border: none;
  border-radius: 6px;
}

.btn:hover{
  cursor: pointer;
  opacity: 80%;
}